{{!-- Login --}}
<link rel="stylesheet" href="../stylesheets/style.css">
 
<section class="admin">
    <div class="admin-block">
        <div class="image pt-3 mt-5">
            <img src="../images/log2.png" style="width:18rem;height:10rem;">
        </div>
        <div class="admin-wrapper p-5">
            {{#if erro}}
            <div class="alert alert-danger" role="alert">
                Invalid authorization request
            </div>
            {{/if}}
            <div class="title">
                ADMIN LOGIN
            </div>
            <form class="form" action="/admin/login" method="post">
                <div class="admin-field">
                    <label for="">Username</label>
                    <input type="text" class="admin-input" name="username">
                </div>
                <div class="admin-field">
                    <label for="">Password</label>
                    <input type="password" class="admin-input" name="password">
                </div>
                <div class="admin-field">
                    <input type="submit" value="Log In" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>